.App {
  height: 100vh;
  background: url("https://img.freepik.com/free-photo/assortment-cinema-supplies_23-2147803976.jpg?w=996&t=st=1704703907~exp=1704704507~hmac=cd3488f87246c26490a6e9df4cd794ce2267940b37932836dd5debc23f6d67f2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
